// Navigation code here

.nav-container {
    background-color: @nav-bg;
    .center();
    width: 100%;
    flex-direction: column;
    padding-top: 13px;
    padding-bottom: 10px;
    .nav {
        margin-top: 18px;

        a {
        color: @nav-font;
        font-size: 1.7rem;
        text-decoration: none;
        padding: 0 13px;
        }

    }
    
}
